.wrapper {
    width: 100%;
    display: flex;
    // flex-direction: column;
    margin-top: 15rem;
    margin-bottom: 5rem;
    padding: 0 2rem;
}

.left-side {
    width: 70%;
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
}

.movie-meta {
    width: 100%;
    padding-right: 3rem;
    border-right: 1px solid var(--border-color);

    .movie-info {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        margin-top: 4rem;
        padding-bottom: 4rem;
        border-bottom: 1px solid var(--border-color);
        .limit-text {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .poster {
            width: 10rem;
            height: 16rem;
            border-radius: 1.2rem;
            background-color: var(--background-color-6);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1.2rem;
            }
        }
        .details {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1.5rem;
            .movie-name {
                @extend .limit-text;
                line-clamp: 2;
                -webkit-line-clamp: 2;
                font-size: 2rem;
                color: var(--text-color);
            }
            .origin-name {
                @extend .limit-text;
                line-clamp: 1;
                -webkit-line-clamp: 1;
                color: var(--primary-color);
                font-size: 1.4rem;
            }
            .tags {
                display: flex;
                gap: 1rem;
                .tag {
                    border-radius: 0.5rem;
                    padding: 0.5rem 1rem;
                    background-color: var(--background-color-8);
                    color: var(--text-color);
                    font-size: 1.4rem;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
        .description {
            width: 40%;
            margin-top: 1rem;
            .descr {
                @extend .limit-text;
                line-clamp: 5;
                -webkit-line-clamp: 5;
                color: var(--text-color);
                font-size: 1.4rem;
            }
            .view-more {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-top: 3rem;
                color: var(--primary-color);
                font-size: 1.5rem;
            }
        }
    }
}

.l-1 {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
        color: var(--text-color);
        font-size: 2.3rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
}

.title {
    color: var(--text-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.video {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.actions {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3rem;
    background-color: #1e2545;
    border-radius: 0 0 1rem 1rem;
    transform: translateY(-10px);
    padding: 1rem 2rem 1rem 2rem;

    .action {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--text-color);
        font-size: 1.6rem;

        &:hover {
            cursor: pointer;
            color: var(--primary-color);
        }
    }
}

.title-2 {
    position: relative;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: var(--primary-color);
    }
}
.options {
    position: relative;
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top: 2rem;

    h2 {
        position: relative;
        color: var(--text-color);
        font-size: 1.6rem;
        font-weight: 600;
        padding-right: 2rem;
        padding-left: 2rem;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: var(--primary-color);
        }
    }

    .options-list {
        display: flex;
        gap: 2rem;
        padding-left: 2rem;
        .option {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: var(--text-color);
            font-size: 1.5rem;
            font-weight: 500;
            padding: 1rem 2rem 1rem 1rem;
            background-color: var(--background-color-6);
            border-radius: 1rem;
            cursor: pointer;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }

            &.active {
                background-color: var(--primary-color);
                color: var(--text-black);
                opacity: 1;
                font-weight: 600;
            }
        }
    }
}

.episodes {
    width: 100%;
    max-height: 50rem;
    overflow-y: auto;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 1rem 0 0 2rem;
    flex-wrap: wrap;
    gap: 1rem;

    .episode {
        height: 4rem;
        color: var(--text-black);
        background-color: var(--background-color-6);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 0.5rem;

        &.active {
            background-color: var(--primary-color);
        }
    }
}

.realated-movies {
    flex: 1;
    padding: 2rem 3rem;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 45px;
    aspect-ratio: 1;
    position: absolute;
    top: 20rem;
    right: 50%;
    transform: translateX(50%);
    --c: no-repeat linear-gradient(#ffffff 0 0);
    background:
        var(--c) 0% 50%,
        var(--c) 50% 50%,
        var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
}
@keyframes l1 {
    0% {
        background-size:
            20% 100%,
            20% 100%,
            20% 100%;
    }
    33% {
        background-size:
            20% 10%,
            20% 100%,
            20% 100%;
    }
    50% {
        background-size:
            20% 100%,
            20% 10%,
            20% 100%;
    }
    66% {
        background-size:
            20% 100%,
            20% 100%,
            20% 10%;
    }
    100% {
        background-size:
            20% 100%,
            20% 100%,
            20% 100%;
    }
}

// mobile responsive
@media (max-width: 1600px) {
    .wrapper {
        margin-top: 10rem;
        margin-bottom: 5rem;
        padding: 0 2%;
    }
    .episodes {
        grid-template-columns: repeat(9, 1fr);
    }
}

@media (max-width: 800px) {
    .wrapper {
        margin-top: 5rem;
    }
}
@media screen and (max-width: 500px) {
    .wrapper {
        margin-top: 2rem;
        padding: 0;
        flex-direction: column;
    }

    .left-side {
        width: 100%;
    }

    .realated-movies {
        padding-left: 1.5rem;
    }
    .l-1 {
        padding-left: 1rem;
        .title {
            font-size: 1.5rem;
        }
    }
    .video {
        width: 100%;
        border-radius: 0;
        height: auto;

        .action {
            font-size: 1.6rem;
            margin-top: 1rem;

            span {
                display: none;
            }
        }
    }
    .content {
        width: 100%;
        flex-direction: column;
        .movie-meta {
            position: relative;
            width: 100%;
            border: none;
            padding-right: 0;

            .movie-info {
                display: none;
            }
            .episodes {
                margin-top: 2rem;
                padding: 0 1rem;
                grid-template-columns: repeat(6, 1fr);

                .episode {
                    font-size: 1.4rem;
                    width: 5rem;
                    padding: 0 2.5rem;
                }
            }
        }
    }
    .options {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1rem;
        padding-left: 1rem;

        h2 {
            font-size: 1.6rem;
        }

        .option {
            margin-left: 0;
            width: 100%;
            padding-right: 1rem !important;
            span {
                white-space: nowrap;
                font-size: 1.2rem;
            }
        }
    }
    .title-2 {
        font-size: 1.6rem;
        padding-left: 1.5rem;
        margin-left: 1rem;
    }
}
