.wrapper {
    padding: 2rem 5rem 2rem 5rem;
}

.heading {
    .title {
        background: linear-gradient(90deg, #ff9800, #ffffff, #ff9800);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 2rem;
    }
}

.content {
    width: 100%;
    .item {
        cursor: -webkit-grab;
        cursor: grab;
        width: auto;
        .card {
            cursor: -webkit-grab;
            cursor: grab;
            flex-shrink: 0;
            position: relative;
            width: 28rem;
            height: 45rem;
            background: #d9d9d9;
            border-radius: 1rem;
            transition: all 0.1s ease-in-out;

            &:hover {
                border: 4px solid var(--primary-color);
            }

            &:hover::before {
                border-right: 4px solid var(--primary-color);
                border-bottom: 4px solid var(--primary-color);
            }

            &::before {
                content: '';
                position: absolute;
                top: -4px;
                left: -4px;
                width: 8rem;
                height: 8.5rem;
                background: var(--background-color);
                border-bottom-right-radius: 2rem;
                transition: all 0.1 s ease-in-out;
            }

            &:active {
                cursor: -webkit-grabbing;
                cursor: grabbing;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }

            .number {
                position: absolute;
                top: -1rem;
                left: 2rem;
                z-index: 10;
                font-family: 'Poppins', sans-serif;
                color: var(--primary-color);
                font-style: italic;
                font-size: 7rem;
                font-weight: bold;

                &.is-double {
                    left: -1rem;
                }
            }
        }
    }
}
.loader {
    width: 45px;
    aspect-ratio: 1;
    position: absolute;
    top: 1rem;
    right: 50%;
    transform: translateX(50%);
    --c: no-repeat linear-gradient(#ffffff 0 0);
    background:
        var(--c) 0% 50%,
        var(--c) 50% 50%,
        var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
}
@keyframes l1 {
    0% {
        background-size:
            20% 100%,
            20% 100%,
            20% 100%;
    }
    33% {
        background-size:
            20% 10%,
            20% 100%,
            20% 100%;
    }
    50% {
        background-size:
            20% 100%,
            20% 10%,
            20% 100%;
    }
    66% {
        background-size:
            20% 100%,
            20% 100%,
            20% 10%;
    }
    100% {
        background-size:
            20% 100%,
            20% 100%,
            20% 100%;
    }
}
// media
@media (max-width: 1600px) {
    .wrapper {
        padding: 2rem;
    }
}

@media (max-width: 500px) {
    .heading {
        .title {
            font-size: 2rem;
        }
    }
    .content {
        .item {
            .card {
                width: 24rem;
                height: 35rem;
            }
        }
    }
}
