.wrapper {
    position: relative;
    padding: 2rem;
    height: 100vh;
    overflow-y: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;

    .filter-btn {
        display: flex;
        gap: 1rem;

        .btn {
            font-size: 1.6rem;
            font-weight: 500;
            border-radius: 0.5rem;
            background-color: var(--primary);
            padding: 0.5rem 1rem;
            cursor: pointer;

            &.active {
                background-color: var(--primary-color);
            }
        }
    }
    .search {
        position: relative;
        display: flex;
        justify-content: center;
        width: 30rem;

        .search-input {
            flex: 1;
            padding: 0.5rem 2.5rem 0.5rem 1rem;
            font-size: 1.6rem;
            border: 2px solid transparent;
            border-radius: 0.5rem;
            caret-color: var(--text-black);

            &:focus {
                outline: none;
                border-color: #333;
            }
        }

        .search-icon {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.8rem;
            color: #888;
            cursor: pointer;

            &:hover {
                color: #333;
            }
        }
    }
}

.table-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
//table styles
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    th {
        background-color: var(--light-gray);
        text-align: left;
        font-size: 1.4rem;
        padding: 1rem;
        border-bottom: 1px solid var(--border-color);

        &:first-child {
            border-top-left-radius: 1rem;
        }
        &:last-child {
            border-top-right-radius: 1rem;
        }
    }
    td {
        padding: 1rem;
        font-size: 1.6rem;
        font-weight: 450;
        border-bottom: 1px solid var(--border-color);
        overflow: visible;

        &:nth-of-type(2) {
            display: flex;
            align-items: center;

            .avatar {
                width: 4rem;
                height: 4rem;
                border-radius: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 1rem;
                }
            }
        }
        &:nth-of-type(5) {
            .admin {
                padding: 0.5rem;
                border-radius: 0.5rem;
                text-transform: uppercase;
                background: linear-gradient(135deg, #06b6d4 0%, #3b82f6 100%);
                box-shadow: 0 4px 6px -1px rgba(37, 99, 235, 0.2);
                color: var(--text-color);
            }
            .user {
                padding: 0.5rem;
                border-radius: 0.5rem;
                text-transform: uppercase;
                background: linear-gradient(135deg, #f3f4f6 0%, #d1d5db 100%);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
                color: var(--text-black);
            }
        }
        &:nth-of-type(6) {
            .online {
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: #bbf7d0;
                color: #16a34a;
                &::before {
                    content: '●';
                    margin-right: 0.5rem;
                }
            }
            .offline {
                padding: 0.5rem;
                border-radius: 0.5rem;
                background-color: #fecaca;
                color: #991b1b;
                &::before {
                    content: '●';
                    margin-right: 0.5rem;
                }
            }
        }
        .actions {
            .gear-icon {
                padding-left: 1rem;
                cursor: pointer;
                font-size: 1.8rem;
                z-index: 100000;
                transition: all 0.3s ease;

                svg {
                    transition: transform 0.3s ease, color 0.3s ease; // Hiệu ứng mượt cho icon
                }
                &.active {
                    svg {
                        transform: rotate(45deg);
                        color: var(--primary-color);
                    }
                }
            }
        }
    }
}
// CSS cho menu Tippy
.dropdown-actions {
    width: 15rem;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 0.8rem;
    padding: 0.8rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    z-index: 100001;

    .dropdown-item {
        display: flex;
        gap: 1.2rem;
        border-radius: 0.5rem;
        align-items: center;
        padding: 0.8rem 1.2rem;
        cursor: pointer;
        font-size: 1.4rem;
        color: #333;

        &:hover {
            background-color: #f5f5f5;
        }

        svg {
            width: 1.6rem;
        }
    }
}

.overlay-users {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
    cursor: pointer;
}

//modal edit
.modal-edit {
    position: absolute;
    border-radius: 1rem;
    width: 50rem;
    height: 32rem;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    background-color: var(--primary);
    box-shadow: #868686 0px 5px 15px;
    padding: 1rem 2rem;
    z-index: 6;

    .edit-form {
        position: relative;
        display: flex;
        flex-direction: column;

        .close {
            position: absolute;
            top: -1rem;
            right: 0;
            font-size: 2.4rem;
            color: var(--text-black);
            cursor: pointer;
        }

        .form-group {
            label {
                color: var(--text-black);
                font-weight: 500;
            }
            input {
                color: var(--text-black);
                font-size: 1.4rem;
                width: 100%;

                border-radius: 0.5rem;
                padding: 1.2rem 1.4rem;
                background: transparent;
                border: 1px solid var(--border-color);

                &:focus {
                    outline: none;
                    border-color: var(--primary-text);
                }
                &.invalid {
                    border-color: #ff6666;
                    margin-bottom: 0;
                }

                &:nth-of-type(1),
                &:nth-of-type(2) {
                    margin-bottom: 0;
                }
                &:disabled {
                    cursor: not-allowed;
                }
            }

            .form-message {
                color: #ff6666;
                font-size: 1.2rem;
            }
        }

        .btn {
            position: absolute;
            left: 50%;
            margin-top: 2rem;
            transform: translate(-50%);
            background-color: var(--primary-color);
            color: var(--text-black);
        }
    }
}
