.wrapper {
    position: fixed;
    width: 100%;
    height: 9rem;
    padding: 0 32px 0 32px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    z-index: 999;
}

.wrapper.scroll {
    height: 7rem;
    background-color: #0f111a;
}

.logo {
    cursor: pointer;

    img {
        width: 14rem;
        height: 5rem;
    }
}

// Navigation
.el-group {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: auto;
    gap: 1.5rem;
}

// .flex-grow-1 {
//     width: 15.5rem;
// }

.main-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;

    .menu-item {
        position: relative;
        white-space: nowrap;
        padding: 0 0.75rem;
        font-size: 1.4rem;

        a {
            display: flex;
            align-items: center;
            gap: 5px;

            &:hover {
                color: var(--primary-text);
            }
        }
    }

    .menu-item-toggle {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--text-color);
        cursor: pointer;

        &:hover {
            color: var(--primary-text);
        }
    }
}

// App Download
.app-download {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 3rem;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 15%;
        height: 80%;
        width: 1px;
        background-color: #fff4;
    }
}

.app-download-icon {
    margin-top: 3px;
    margin-right: 10px;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.app-download-text {
    display: flex;
    flex-direction: column;

    span {
        font-size: 12px;
        color: #fff;
    }
    strong {
        font-size: 1.4rem;
        color: #fff;
    }
}

// User
.user-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 1.5rem;

    .notification {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 0.5px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .notification-icon {
            color: #fff;
            font-size: 1.4rem;
        }
    }
}
.btn {
    padding-left: 3rem;
}

.btn-2 {
    padding-right: 3rem;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        right: -10px;
        top: 15%;
        height: 80%;
        width: 1px;
        background-color: var(--border-color);
    }
}

// animate
