.wrapper {
    --min-height: 30rem;
    width: 100%;
    background-color: var(--background-color-1);
    margin-top: 10rem;
}

.footer-elements {
    width: 100%;
    max-width: 1900px;
    min-height: var(--min-height);
    padding: 3.2rem 5rem;
    margin: 0 auto; /* Căn giữa content */
    z-index: 5;

    .line-1 {
        width: 100%;
        display: flex;
        align-items: center;
    }
}

.logo {
    width: 14%;
    padding-right: 3rem;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 1px;
        height: 70%;
    }
}

.social {
    display: flex;
    align-items: center;
    padding-left: 4rem;
    gap: 1.5rem;

    .social-icon {
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--background-color-2);
        border-radius: 50%;
        font-size: 1.6rem;
        transition: transform 0.3s linear;

        &:hover {
            transform: translateY(-1rem);
        }
    }
}

// Media Query
@media (max-width: 1400px) {
    .wrapper {
        padding: 0 2rem;
    }
}

// media for tablet
@media (min-width: 500px) and (max-width: 1080px) {
    .wrapper {
        flex-direction: column;
    }
    .line-1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        .logo {
            width: auto;
            padding-right: 0;
        }

        .social {
            padding-left: 0;
        }
    }
}

@media (max-width: 500px) {
    .wrapper {
        flex-direction: column;
    }
    .line-1 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        .logo {
            width: auto;
            padding-right: 0;
        }

        .social {
            padding-left: 0;
        }
    }
}
