.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    flex: 1;
    max-width: 1900px;
    display: flex;
    flex-direction: column;
}

.move-top {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    animation: fade-in 0.3s linear;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 500px) {
    .move-top {
        right: 2rem;
    }
}
