.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    width: 100%;
    height: 80rem;
    border-radius: 1rem;
    background-image: url('../../../public/assets/images/dotted.png');

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        mask-composite: intersect;
        -webkit-mask-composite: intersect;
        -webkit-mask-image: linear-gradient(0deg, transparent 0, black 20%, black 80%, transparent),
            linear-gradient(90deg, transparent 0, black 20%, black 80%, transparent);
        mask-image: linear-gradient(0deg, transparent 0, black 20%, black 80%, transparent),
            linear-gradient(90deg, transparent 0, black 35%, black 65%, transparent);
    }
}

.content {
    width: 90%;
    background-color: #191b24f7;
    border-radius: 3rem;
    transform: translateY(-20rem);
    display: flex;
}

.left-side {
    position: relative;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 3rem 0 0 3rem;
    border-right: 1px solid var(--border-color);
    padding: 3rem 5rem;
}

.poster {
    width: 20rem;
    height: 28rem;
    border-radius: 1rem;

    img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;

        object-fit: cover;
    }
}

.name {
    width: 100%;
    font-size: 2rem;
    color: var(--text-color);
    margin-top: 1.5rem;
}

.origin-name {
    font-size: 1.6rem;
    color: var(--primary-text);
    margin-top: 1rem;
}

.tags {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    .tag-tmdb {
        position: relative;
        padding: 0 5px 0 4rem;
        color: var(--text-color);
        border-radius: 0.5rem;
        border: 1px solid var(--primary-text);
        display: inline-flex;
        align-items: center;
        justify-items: center;

        span {
            font-size: 1.4rem;
            line-height: 2.4rem;
        }

        &::before {
            content: 'TMDb';
            position: absolute;
            left: 2px;
            font-size: 1.1rem;
            color: var(--primary-text);
        }
    }

    .tag-quality,
    .tag-year,
    .tag-duration {
        font-size: 1.4rem;
        color: var(--text-color);
        border-radius: 0.5rem;
        border: 1px solid var(--primary);
        padding: 0 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.types {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .type {
        color: var(--text-color);
        background-color: #292932;
        font-size: 1.4rem;
        font-weight: 300;
        border-radius: 0.5rem;
        padding: 0.5rem 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.description {
    color: var(--text-color);

    .title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    .desc {
        font-size: 1.5rem;
    }
}

.country,
.actor,
.director {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--text-color);

    a {
        margin-left: 0.5rem;
        color: var(--primary-text);

        &:hover {
            opacity: 0.8;
        }
    }
}

.right-side {
    padding: 3rem 5rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 0 3rem 3rem 0;
}

.l-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--border-color);
}

.btn {
    background-color: var(--primary-text);
    border: none;
    color: var(--text-black);
    box-shadow: 0 5px 10px 5px rgba(3, 233, 234, 0.1);
    transition: box-shadow 0.3s ease;
    padding: 1.5rem 2.5rem;

    &:hover {
        box-shadow: 0 5px 10px 10px rgba(3, 233, 234, 0.1);
    }
}

.actions {
    flex: 1;
    display: flex;
    gap: 4rem;
    align-items: center;

    .action {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        font-size: 1.5rem;
        color: var(--text-color);

        &:hover {
            color: var(--primary-text);
            cursor: pointer;
        }
    }
}

.rating {
    height: 80%;
    background-color: var(--primary-text);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1.6rem;
}

.l-2 {
    margin-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--border-color);

    .episodes {
        display: flex;
        gap: 1rem;

        .total-episodes,
        .status {
            color: var(--text-color);
            font-size: 1.8rem;
            font-weight: 500;
        }
    }

    .items {
        max-height: 60rem;
        overflow-y: auto;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1rem;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.5rem;
            padding: 0.8rem 0.8rem;
            color: var(--text-black);
            background-color: var(--primary-text);
            font-weight: 600;
            font-size: 1.6rem;

            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}
// scss for UI Skeleton loading
@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.skeleton {
    background: #252836; // Màu nền tối hơn khớp với theme
    background-image: linear-gradient(
        to right,
        #252836 0%,
        #323645 20%,
        // Màu sáng quét qua
        #252836 40%,
        #252836 100%
    );
    background-repeat: no-repeat;
    background-size: 2000px 100%;
    animation: shimmer 2s infinite linear;
    border-radius: 0.5rem;
}

// Skeleton cho Thumbnail
.thumbnail.skeleton-box {
    background-image: linear-gradient(to right, #191b24 0%, #2a2d3a 20%, #191b24 40%);
    // Ghi đè lại background-image cũ để hiện hiệu ứng
    img {
        display: none; // Ẩn ảnh thật khi đang load
    }
}

// Skeleton cho Poster
.poster.skeleton-box {
    img {
        display: none;
    }
}

// Skeleton cho Detail Content (Text lines)
.skeleton-title {
    height: 3rem;
    width: 60%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.skeleton-text {
    height: 1.5rem;
    width: 100%;
    margin-bottom: 0.8rem;

    &.short {
        width: 30%;
    }
    &.medium {
        width: 50%;
    }
}

.skeleton-tags {
    display: flex;
    gap: 1rem;
    margin: 2rem 0;

    .skeleton-tag {
        width: 6rem;
        height: 2.5rem;
        border-radius: 0.5rem;
    }
}
// media queries
@media (max-width: 1600px) {
    .line-2 {
        .items {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }
    }
}

// media for tablet
@media (min-width: 500px) and (max-width: 1080px) {
    .thumbnail {
        width: 100%;
        height: 30rem;
        border-radius: 1rem;
        background-image: none;

        img {
            object-fit: fill;
        }
    }
    .content {
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }
    .left-side {
        width: 100%;
        border: none;
        padding-left: 0;
        padding-right: 0;

        // ui skeleton
        .skeleton-title {
            margin-top: 25rem;
            margin-left: auto;
            margin-right: auto;
        }

        // Căn giữa các phần còn lại
        .skeleton-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .skeleton-text {
            width: 90% !important; // Thu gọn text lại cho đẹp

            &.short {
                width: 50% !important;
            }
            &.medium {
                width: 70% !important;
            }
        }

        .poster {
            position: absolute;
            top: 1rem;
            left: 50%;
            transform: translate(-50%);
            width: 15rem;
            height: 22rem;
        }
        .more {
            text-align: center;
            margin-top: 1rem;
            font-size: 1.6rem;
            color: var(--primary-text);
        }
        .name {
            margin-top: 22rem;
            text-align: center;
        }
        .origin-name {
            text-align: center;
            font-size: 1.4rem;
        }

        .tag-quality,
        .tag-year,
        .tag-duration {
            font-size: 1.4rem;
        }
    }
    .right-side {
        width: 100%;
        padding: 0;
    }
    .l-1 {
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        border: none;

        .btn {
            width: 25rem;
            background-color: var(--primary-text);
            color: var(--text-black);
            box-shadow: 0 5px 10px 5px rgba(3, 233, 234, 0.1);
            transition: box-shadow 0.3s ease;
            padding: 1.5rem 5rem;
        }
        .actions {
            gap: 2rem;
        }
        .action {
            font-size: 1.4rem;
        }
        .rating {
            position: absolute;
            top: -8rem;
            right: 0;
            height: 4.5rem;
            background-color: rgba(15, 17, 26, 0.9);
            color: var(--primary-text);
            backdrop-filter: blur(5px);
        }
    }
    .l-2 {
        border: none;
        .episodes {
            .total-episodes,
            .status {
                font-size: 1.5rem;
            }
        }
        .items {
            flex: none;
            grid-template-columns: repeat(6, 1fr);

            .item {
                font-size: 1.4rem;
            }
        }
    }
}

// Mobile Responsive
@media (max-width: 500px) {
    .thumbnail {
        width: 100%;
        height: 30rem;
        border-radius: 1rem;
        background-image: none;

        img {
            object-fit: fill;
        }
    }
    .content {
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }
    .left-side {
        width: 100%;
        border: none;
        padding-left: 0;
        padding-right: 0;

        // ui skeleton
        .skeleton-title {
            margin-top: 25rem;
            margin-left: auto;
            margin-right: auto;
        }

        // Căn giữa các phần còn lại
        .skeleton-container {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .skeleton-text {
            width: 90% !important; // Thu gọn text lại cho đẹp

            &.short {
                width: 50% !important;
            }
            &.medium {
                width: 70% !important;
            }
        }

        .poster {
            position: absolute;
            top: 1rem;
            left: 50%;
            transform: translate(-50%);
            width: 15rem;
            height: 22rem;
        }
        .more {
            text-align: center;
            margin-top: 1rem;
            font-size: 1.6rem;
            color: var(--primary-text);
        }
        .name {
            margin-top: 22rem;
            text-align: center;
        }
        .origin-name {
            text-align: center;
            font-size: 1.4rem;
        }

        .tag-quality,
        .tag-year,
        .tag-duration {
            font-size: 1.4rem;
        }
    }
    .right-side {
        width: 100%;
        padding: 0;
    }
    .l-1 {
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        border: none;

        .btn {
            width: 25rem;
            background-color: var(--primary-text);
            color: var(--text-black);
            box-shadow: 0 5px 10px 5px rgba(3, 233, 234, 0.1);
            transition: box-shadow 0.3s ease;
            padding: 1.5rem 5rem;
        }
        .actions {
            gap: 2rem;
        }
        .action {
            font-size: 1.4rem;
        }
        .rating {
            position: absolute;
            top: -8rem;
            right: 0;
            height: 4.5rem;
            background-color: rgba(15, 17, 26, 0.9);
            color: var(--primary-text);
            backdrop-filter: blur(5px);
        }
    }
    .l-2 {
        border: none;
        .episodes {
            .total-episodes,
            .status {
                font-size: 1.5rem;
            }
        }
        .items {
            flex: none;
            grid-template-columns: repeat(6, 1fr);

            .item {
                font-size: 1.4rem;
            }
        }
    }
}
