.wrapper {
    margin-top: 5rem;
}
.text {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text-color);

    svg,
    h2 {
        font-size: 2rem;
    }
}

.comments {
    position: relative;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--background-color-6);

    textarea {
        width: 100%;
        height: 15rem;
        padding: 2rem 1rem 1rem 1rem;
        background-color: var(--background-color);
        border-radius: 1rem;
        color: var(--text-color);
        font-size: 1.6rem;
        resize: none;
        border: 1px solid transparent;

        &:focus {
            border-color: var(--primary-text);
        }
    }
    .send {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.2rem;
        margin-right: 1rem;
        font-size: 1.6rem;
        color: var(--primary-text);
        cursor: pointer;

        svg {
            transform: rotate(45deg);
        }
    }

    .count {
        position: absolute;
        right: 1.8rem;
        top: 1.1rem;
        font-size: 1.4rem;
        color: var(--text-color);
    }
}

.text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comments {
    position: relative;
}

.list {
    margin-top: 5rem;
}

.item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;

    .left-side {
        flex-shrink: 0;
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
        margin-right: 1.5rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            object-fit: cover;
        }
    }
}

.right-side {
    display: flex;
    flex-direction: column;

    .l-1 {
        display: flex;
        gap: 1rem;
        color: var(--text-color);
        font-size: 1.5rem;

        span {
            &:nth-of-type(2) {
                height: 2rem;
                display: flex;
                align-items: flex-end;
                font-size: 1rem;
                color: var(--primary-color);
                padding: 0 0.5rem;
                transform: translateY(-3px);
                border-radius: 0.5rem;
                border: 1px solid var(--primary-color);
            }

            &:nth-of-type(3) {
                color: var(--primary-color);
            }
        }
    }

    .l-2 {
        word-break: break-word;
        width: 100%;
        margin-top: 0.5rem;
        color: var(--text-color);
        font-size: 1.5rem;
        opacity: 0.6;
    }

    .l-3 {
        display: flex;
        gap: 2rem;
        margin-top: 1rem;
        color: var(--text-color);
        font-size: 1.2rem;
    }
}

.answer,
.delete {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.6;
}

.answer:hover,
.delete:hover {
    cursor: pointer;
    opacity: 1;
}

@media (max-width: 500px) {
    .comments {
        textarea {
            height: 10rem;
        }
    }
}
