.wrapper {
    margin-top: 2rem;
    padding: 2rem 5rem;
}

.title {
    background: linear-gradient(90deg, #6ffacf, #ffffff, #6ffacf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    color: var(--text-color);
    font-size: 2.4rem;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
}

.heading {
    display: flex;
    align-items: center;
    gap: 2rem;

    .select-country {
        display: flex;
        gap: 1rem;
        color: var(--text-color);
        font-size: 1.8rem;

        .country {
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: var(--background-color-6);
            cursor: pointer;

            &.active {
                font-weight: 600;
                background-color: var(--primary-color);
                color: var(--text-black);
            }
        }
    }
}

.content {
    position: relative;
    min-height: 7rem;
    border-radius: 1.5rem;
    padding: 1rem;
    background-color: #222430;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 24rem;
    gap: 1rem;

    .item {
        cursor: pointer;
        position: relative;
        border-radius: 1.5rem;
        overflow: hidden;

        &:first-child {
            grid-column: span 2;
            grid-row: span 2;

            img {
                height: 82%;
            }

            .info {
                padding-bottom: 1rem;
            }

            .name {
                font-size: 2rem;
            }
            .origin-name {
                font-size: 1.6rem;
            }
        }

        img {
            width: 100%;
            height: 72%;
            border-radius: 1.5rem;
            object-fit: cover;
            transition: transform 0.3s linear;
        }

        .info {
            position: absolute;
            inset: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 0.5rem;
            padding: 2rem 2rem 0 0.5rem;
            .name {
                display: -webkit-box;
                line-clamp: 1;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                color: var(--primary-text);
                font-size: 1.6rem;
            }
            .origin-name {
                display: -webkit-box;
                line-clamp: 1;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                color: var(--primary-text);
                font-size: 1.4rem;
            }
        }

        .quality {
            position: absolute;
            top: 1rem;
            left: 1.5rem;
            color: var(--primary-color);
            padding: 0 0.5rem;
            border-radius: 0.5rem;
            font-size: 1.4rem;
            background-color: rgba(15, 17, 26, 0.7);
            backdrop-filter: blur(8px);
        }
    }
}

.loader {
    width: 45px;
    aspect-ratio: 1;
    position: absolute;
    top: 1rem;
    right: 50%;
    transform: translateX(50%);
    --c: no-repeat linear-gradient(#ffffff 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
}
@keyframes l1 {
    0% {
        background-size: 20% 100%, 20% 100%, 20% 100%;
    }
    33% {
        background-size: 20% 10%, 20% 100%, 20% 100%;
    }
    50% {
        background-size: 20% 100%, 20% 10%, 20% 100%;
    }
    66% {
        background-size: 20% 100%, 20% 100%, 20% 10%;
    }
    100% {
        background-size: 20% 100%, 20% 100%, 20% 100%;
    }
}

// media queries
@media (max-width: 1600px) {
    .wrapper {
        padding: 2rem 2rem;
    }
    .select-country {
        .country {
            font-size: 1.6rem;
        }
    }

    .content {
        grid-auto-rows: 20rem;

        .item {
            &:first-child {
                img {
                    height: 80% !important;
                }
            }
        }
    }
}

//media for tablet
@media (min-width: 500px) and (max-width: 1080px) {
    .wrapper {
        padding: 2rem 0;
    }
    .title {
        padding-left: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .heading {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
        gap: 1rem;
        flex-wrap: nowrap;
        white-space: nowrap;
        gap: 1rem;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .select-country {
            .country {
                font-size: 1.4rem;
                border-radius: 0.5rem;
                padding: 0.5rem;
                background-color: var(--background-color-6);

                &.active {
                    background-color: var(--primary-color);
                    color: var(--text-black);
                }
            }
        }
    }
    .content {
        display: flex;
        background-color: transparent;
        flex-wrap: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
        .item {
            flex: 0 0 auto;
            width: 29rem;
            height: 20rem;

            &:first-child {
                img {
                    width: 100%;
                    height: 75% !important;
                    object-fit: cover;
                }

                .info {
                    padding-bottom: 0;
                }

                .name {
                    font-size: 2rem;
                }
                .origin-name {
                    font-size: 1.6rem;
                }
            }
            
            img {
                width: 100%;
                height: 75%;
            }
            .info {
                padding: 0 0 0 0.5rem;

                .name,
                .origin-name {
                    font-size: 1.4rem;
                }
            }
            .quality {
                display: none;
            }
        }
    }
}

// media for mobile
@media (max-width: 500px) {
    .wrapper {
        padding: 2rem 0;
    }
    .title {
        padding-left: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .heading {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
        gap: 1rem;
        flex-wrap: nowrap;
        white-space: nowrap;
        gap: 1rem;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .select-country {
            .country {
                font-size: 1.4rem;
                border-radius: 0.5rem;
                padding: 0.5rem;
                background-color: var(--background-color-6);

                &.active {
                    background-color: var(--primary-color);
                    color: var(--text-black);
                }
            }
        }
    }
    .content {
        display: flex;
        background-color: transparent;
        flex-wrap: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
        .item {
            flex: 0 0 auto;
            width: 18rem;
            height: 16rem;

            &:first-child {
                img {
                    width: 100%;
                    height: 10rem !important;
                    object-fit: cover;
                }

                .info {
                    padding-bottom: 0;
                }

                .name {
                    font-size: 2rem;
                }
                .origin-name {
                    font-size: 1.6rem;
                }
            }

            img {
                width: 100%;
                height: 10rem;
            }
            .info {
                padding: 0 0 0 0.5rem;

                .name,
                .origin-name {
                    font-size: 1.4rem;
                }
            }
            .quality {
                display: none;
            }
        }
    }
}
