.wrapper {
    position: relative;
    width: 100%;
    height: 6rem;
    background-color: var(--background-color);
    padding: 6px;
    display: flex;
    align-items: center;
}

.menu__toogle {
    color: var(--text-color);
    font-size: 2.5rem;
    cursor: pointer;
    margin-left: 1rem;

    .icon--red {
        color: red;
        height: 2.2rem;
    }
}

.logo {
    width: 12rem;
    height: 4rem;
    margin-left: 1.5rem;

    img {
        width: 100%;
        height: 100%;
    }
}

.search {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    flex-shrink: 0;

    .icon {
        color: var(--text-color);
        cursor: pointer;
    }
}

.menu__list {
    .container {
        z-index: 99;
        margin-top: 2rem;
        position: absolute;
        width: 34rem;
        background-color: var(--background-color-7);
        border-radius: 1rem;
        padding: 1.5rem;
    }
}

// user content
.user {
    position: relative;
    width: 100%;
    margin: 2rem 0 4rem 0;

    &::after {
        content: '';
        position: absolute;
        bottom: -2rem;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--border-color);
    }
}

.user__l-1 {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--text-color);
    font-size: 1.6rem;

    .icon__gender {
        color: var(--primary-color);
    }

    .user__avatar {
        position: absolute;
        right: 0;
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.user__l-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;

    .user__item {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid var(--border-color);
    }
}
// default menu
.btn {
    display: flex;
    gap: 1rem;

    .btn__login,
    .btn__register {
        cursor: pointer;
        flex: 1;
    }
}

.nav {
    margin-top: 2rem;

    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-left: 0.5rem;

        .item {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }
}
