// 404 page
.wrapper-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
    padding: 5rem 0;

    h1 {
        color: var(--text-color);
    }

    h3 {
        font-size: 1.6rem;
        color: var(--text-color-1);
    }

    .btn {
        font-size: 1.6rem;
        padding: 1.4rem 2.5rem;
    }
}
