//

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--dashboard-color);
    color: var(--text-color);
    display: flex;
    padding-top: 8rem;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

// HEADER
.header {
    width: calc(100% - 25rem);

    height: 8rem;
    align-self: flex-end;
    background-color: var(--dashboard-color);
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    left: 25rem;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
    transition: background-color 0.3s ease;

    .admin-options {
        display: flex;
        align-items: center;
        gap: 2rem;

        .admin-info {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .avatar {
                width: 5rem;
                height: 5rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: conic-gradient(
                    from 0deg,
                    #2e86de 0%,
                    #2e86de 25%,
                    #ff6b6b 25%,
                    #ff6b6b 50%,
                    #ff9f43 50%,
                    #ff9f43 75%,
                    #1dd1a1 75%,
                    #1dd1a1 100%
                );
                padding: 2.5px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    border: 2px solid #ffffff; // Viền trùng màu nền header
                }
            }

            .name {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .username {
                    font-size: 1.6rem;
                    font-weight: 500;
                    background: linear-gradient(to right, #2e86de, #ff6b6b, #ff9f43, #1dd1a1);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                }
                .desc {
                    font-size: 1.2rem;
                    color: var(--dashboard-color-text);
                }
            }
        }
    }
}

// SIDEBAR
.sidebar {
    width: 25rem;
    height: 100vh;
    background-color: var(--dashboard-color);
    border-right: 1px solid var(--border-color);
    padding: 1rem 2rem 2rem;
    position: fixed;
    top: 0;
    left: 0;

    .logo {
        margin-bottom: 2rem;
    }

    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .menu-item {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            gap: 2rem;
            width: 100%;
            padding: 1.2rem 1.5rem;
            border-radius: 0.8rem;
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--text-color);
            text-decoration: none;
            transition: all 0.2s ease;

            .title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 16rem;
            }

            // Khi active
            &.active {
                background-color: var(--dashboard-color-2);
                color: var(--text-color);
            }

            // Khi hover
            &:hover:not(.active) {
                background-color: #1d2e53;
                color: var(--text-color);
                cursor: pointer;
            }
            &:last-child {
                border-radius: 0;
                border-radius: 1rem;
            }
        }
    }
}

// CONTENT
.content {
    margin-left: 25rem;
    flex: 1;
    padding: 0 2rem 2rem 2rem;
    width: calc(100% - 25rem);
    height: calc(100vh - 8rem);
    overflow-y: auto;
    background-color: var(--dashboard-color-3);
}
