.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
}

//sidebar
.sidebar {
    width: 15%;
    height: 100vh;
    background-color: #2d353c;
    padding: 2rem 2rem;
}

.admin-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .avatar {
        width: 5rem;
        height: 5rem;
        border-radius: 1rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
            object-fit: cover;
        }
    }
    .name {
        color: var(--text-color);
        font-size: 1.6rem;
    }
}
